/build
/dist
/.coverage
/include/slashsynth/version.h
/include/slashsynth/config.h
/setup.py
/CMakeSettings.json
/CMakeUserPresets.json
/src/pyslashsynth/*.so
/conan/slashsynth.profile

__pycache__
*.pyc
